<!doctype html>
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Cyberbullying Detector</title>
    <meta name="description" content="Cyberbullying Detector Web App">
    <meta name="author" content="Darius">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Cyberbullying Detector</h1>
                <form method="post" novalidate>
                    {% csrf_token %}

                    <label>Enter text to measure its toxicity</label>
                    <br>
                    {{ form|crispy }}
                    <br>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>