<!doctype html>
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Cyberbullying Detector</title>
    <meta name="description" content="Cyberbullying Detector Web App">
    <meta name="author" content="Darius">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Cyberbullying Detector</h1>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <label>Enter text to measure its toxicity</label>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                {% if bully_probability != None %}
                    <div class="{{ toxicity_rate_alert_color }}" role="alert">
                        Estimated toxicity rating: {{ bully_probability }}%
                    </div>
                {% endif %}

                {% if bully_prediction != None %}
                    {% if bully_prediction == True %}
                    <div class="{{ bullying_prediction_alert_color }}" role="alert">
                        <b>C Y B E R B U L L Y I N G D E T E C T E D</b>
                    </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</body>
</html>
